= link_to 'Back', portal_tests_path, class: 'btn btn-warning mr-3'
= link_to 'Update', 'javascript:;', class: 'btn btn-primary', onClick: "$('form#edit_test').submit()"

= render 'portal/tests/form', test: @test