= link_to 'Back', portal_users_path, class: 'btn btn-warning mr-3'
= link_to 'Update', 'javascript:;', class: 'btn btn-primary', onClick: "$('form#edit_user').submit()"

= render 'portal/users/form', user: @user