title
  | Shopify
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'shopify_client', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'shopify_client', 'data-turbolinks-track': 'reload'