//sections/cart-template.liquid - insert above <div class='cart__footer'>
<div id="storepick_cart_portal_code">
  <p class="cart-attribute__field">
    <label for="postal_code">Enter your postal code to check if you are eligible for local delivery</label>
    <input id="postal_code" placeholder="Your Postal Code" type="text" name="attributes[postal_code]" value="{{ cart.attributes["postal_code"] }}">
  </p>
</div>