// Fonts
$default-font: 'Rubik', sans-serif;
$main-font-light: 300;
$main-font-regular: 400;
$main-font-medium: 500;
$main-font-bold: 700;
$default-font-size: 14px;

// Colors
$default-bg-color: white;
$default-text-color: black;
$border-color: #ccc;